html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
  font-family: "jomolhari", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

nav {
  background-color: white;
  padding: 0.9rem;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  display: flex;
  box-shadow: 0px 10px 45px 10px #806c5938;
  z-index: 100;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  padding-right: 51.35%;
}

.logo {
  color: #c8a184;
  font-size: 1.5rem;
  font-style: italic;
  padding: 0 1rem;
  cursor: pointer;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 50px;
  width: 89px;
  height: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: -0.019em;
  color: #806c59;
  position: relative;
  left: 45rem;
}

nav a,
nav a:after,
nav a::before {
  transition: all 0.5s;
}

nav a:hover {
  color: #dccbbe;
}

nav a {
  position: relative;
}

nav a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #eedcce;
  height: 1px;
}

nav a:hover:after {
  width: 100%;
}

