html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

nav {
  background-color: white;
  padding: 0.9rem;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  display: flex;
  box-shadow: 0px 10px 45px 10px rgba(0, 0, 0, 0.25);
  z-index: 100;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  padding-right: 51.35%;
}

.logo {
  color: #806c59;
  font-size: 1.5rem;
  font-style: italic;
  padding: 0 1rem;
  cursor: pointer;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 50px;
  width: 89px;
  height: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: -0.019em;
  color: #806c59;
  position: relative;
  left: 45rem;
}

nav a,
nav a:after,
nav a::before {
  transition: all 0.5s;
}
nav a:hover {
  color: #eedcce;
}

nav a {
  position: relative;
}

nav a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #eedcce;
  height: 1px;
}

nav a:hover:after {
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: "jomolhari", sans-serif;
  overflow-x: hidden;
  position: relative;
  top: 4.2rem;
}

h1 {
  position: relative;
  top: 4rem;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 350%;
  font-family: "Jomolhari";
  color: #ffffff;
  z-index: 99;
}

#midimg {
  height: 47.3rem;
  position: relative;
  bottom: 16rem;
  right: 19%;
  align-items: center;
  padding: 0;
  margin-left: 50%;
  filter: brightness(0.7);
}

#lefttopimg {
  max-width: 24.45rem;
  height: 21.5rem;
  position: relative;
  bottom: 65.1rem;
  filter: brightness(0.7);
}

#leftbottomimg {
  max-width: 24.8rem;
  height: 22.9rem;
  position: relative;
  bottom: 39.2rem;
  right: 25rem;
  filter: brightness(0.7);
}

#righttopimg {
  max-width: 24rem;
  height: 21.5rem;
  position: relative;
  bottom: 65.1rem;
  left: 17rem;
  filter: brightness(0.7);
  margin-bottom: 0;
  padding: 0;
}

#rightbottomimg {
  width: 24.75rem;
  height: 22.8rem;
  position: relative;
  bottom: 62.3rem;
  left: 66.7rem;
  filter: brightness(0.7);
}

.empty {
  align-items: center;
  height: 600px;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

h2 {
  color: #806c59;
  position: relative;

  text-align: center;
  margin-top: 3rem;
  font-size: 2.8rem;

  background-color: #f5e9e0;
  padding: 10px;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 0;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.about {
  font-size: 17px;
  font-weight: 100;
  line-height: 1.2em;
  color: #806c59;
  text-align: center;
  position: relative;
  background-color: #f5e9e0;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.content1 {
  width: 20rem;
  height: 20rem;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 20px;
  background-color: #806c59;
  border-radius: 20px;
  position: relative;
}

.styles,
.techniques,
.careers {
  position: absolute;
  display: block;
  width: auto;
  height: 55%;
  top: 75rem;
  margin-top: 5.1rem;
}

.img-styles {
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.7rem;
  transition: transform 0.3s ease-in-out;
}

.img-styles:hover {
  transform: translateY(-10px);
}

.img-techniques {
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.7rem;
  transition: transform 0.3s ease-in-out;
}

.img-techniques:hover {
  transform: translateY(-10px);
}

.img-careers {
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.7rem;
  transition: transform 0.3s ease-in-out;
}

.img-careers:hover {
  transform: translateY(-10px);
}

.styles,
.text1 {
  margin-left: 6%;
}
.techniques,
.text2 {
  margin-left: 37.25%;
}

.careers,
.text3 {
  margin-left: 67.5%;
}

h3 {
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  background-color: #d5c3b6;
  position: absolute;
  display: block;
  top: 83.2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 20px;
  text-align: center;
}

footer {
  border-top: solid 0.6px rgba(80, 60, 41, 0.666);
  padding-top: 2rem;
  height: 16rem;
  margin-top: 38rem;
  list-style: none;
  display: flex;
  padding-bottom: 0px;
}

ul {
  list-style: none;
}

#foot-logo-pic {
  width: 23%;
  height: 18%;
}

.logo-col {
  padding-top: 1rem;
  position: relative;
  width: 50%;
}

.foot-logo {
  position: relative;
  left: 5rem;
  display: flex;
  gap: 2rem;
}

.foot-social-icons {
  position: relative;
  width: 6%;
  height: auto;
  margin-top: 1rem;
  left: 17.5rem;
  bottom: 5rem;
}

#foot-logo-name {
  font-size: 38px;
  color: #806c59;
  position: relative;
  bottom: 1.5rem;
}

.footer-heading {
  font-size: 18px;
  color: #503c29dc;
  margin-left: 2rem;
  text-align: left;
}

.contact-col {
  position: relative;
  width: 20%;
}

.company-col {
  position: relative;
  width: 20%;
  margin-left: 3rem;
}

.useful-col {
  position: relative;
  width: 20%;
}

.footer-link {
  text-align: left;
  padding-bottom: 10px;
  display: block;
  position: relative;
  right: 8px;
  color: #b69882;
}
